<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="20.1.0.61" targetFramework="net471" />
  <package id="Syncfusion.Xamarin.Core" version="20.1.0.61" targetFramework="net471" />
  <package id="Syncfusion.Xamarin.DataSource" version="20.1.0.61" targetFramework="net471" />
  <package id="Syncfusion.Xamarin.GridCommon" version="20.1.0.61" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="Xamarin.Essentials" version="1.7.3" targetFramework="net471" />
  <package id="Xamarin.Forms" version="5.0.0.2478" targetFramework="net471" />
</packages>